{% extends 'DofArticlesBundle::layout.html.twig' %}

{% block breadcrumb %}
  {{ parent() }}
  <li>Archive</li>
{% endblock %}

{% block body %}
<ul class="list-group">
  {% for article in articles %}
      <li class="list-group-item"><a href="{{ path('dof_articles_view', { 'slug' : article.slug }) }}">{{ article.getName(locales()) }}</a> le {{ article.createdAt | date("d/m/Y") }}</li>
  {% else %}
      <li>Pas (encore !) d'articles</li>
  {% endfor %}
</ul>
{% endblock %}