{% extends "::layout.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li><a href="{{ path('fos_user_profile_show') }}">{{ 'profil'|trans({}, 'profile') }}</a></li>
	<li>{{ 'edit'|trans({}, 'generalTrans')}}</li>
{% endblock %}

{% block body %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock body %}
