{% extends "::layout.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	> {{ 'index.profileof'|trans({'%name%': user.getUsername()})}}
{% endblock %}

{% block body %}
<section id="identite">
	<header>
		<table>
			<tr><td>Inscrit le :</td> <td>{{ user.getInscription() }}</td></tr>
			<tr><td>Nombre de point :</td> <td>{{ user.getPoint() }}</td></tr>
		</table>

	</header>

	<footer>
    	<h1>Badges:</h1>
	</footer>
</section>


<section id="persosprofile">

	
</section>
{% endblock %}