{% extends 'DofAdminBundle:Users:layout.html.twig' %}

{% block breadcrumb %}
	{{ parent() }}
	<li>Edition du profil de {{ user.username}} ({{ user.id }})</li>
{% endblock %}

{% block body %}
{% endblock %}