{% extends 'DofAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
	{{ parent() }}
	<li><a href="{{ path('dof_admin_users_homepage') }}">Utilisateurs</a></li>
{% endblock %}

{% block js %}
	{{ parent()}}
 	<script type="text/javascript" src="{{ asset('bundles/dofadmin/js/deletion.min.js') }}"></script>
{% endblock %}
