# SF3
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
app/var

# Bootstrap
app/bootstrap*

# SFTP log
sftp-config*

# Eclipse
.project

# Vim
.*.swp

# Temporary (build etc.) files
tmp/*
!tmp/.gitkeep

# Private files
src/Dof/ImpExpBundle/Command/TestCommand.php
