# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/js/*
web/media/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
/app/var/

# Composer
composer.phar

# SFTP log
sftp-config*

# Eclipse
.project

# Vim
.*.swp

# Temporary (build etc.) files
tmp/*
!tmp/.gitkeep

# Vendor-provided binaries
bin/

# Operating system files
Thumbs.db
.DS_Store

# Private files
src/Dof/ImpExpBundle/Command/TestCommand.php
