# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# SFTP log
sftp-config*

# Eclipse
.project

# Vim
.*.swp

# Temporary (build etc.) files
tmp/*
!tmp/.gitkeep

# Private files
src/Dof/ImpExpBundle/Command/TestCommand.php
