dof_graphics_pipette_process:
    path:  /pipette
    defaults: { _controller: DofGraphicsBundle:Pipette:process }
    methods: [ POST ]
    
dof_graphics_pipette:
    path:  /pipette
    defaults: { _controller: DofGraphicsBundle:Pipette:index }

dof_graphics_renderer_look:
    path: /render/{look}/{focus}/{direction}/{width}_{height}-{padding}.png
    defaults: { _controller: DofGraphicsBundle:Renderer:look }
    methods: [ GET ]
    requirements:
        look: '(?:[0-9a-f]{2})+'
        focus: '[0-9a-z]+'
        direction: '[0-7]'
        width: '[1-9][0-9]*'
        height: '[1-9][0-9]*'
        padding: '0|[1-9][0-9]*'
    options: { i18n: false }

dof_graphics_skins_add_from_pipette:
    path: /skins/add-from-pipette
    defaults: { _controller: DofGraphicsBundle:Pipette:addToGallery }
    methods: [ POST ]

dof_graphics_skins_list:
    path:  /skins/{page}
    defaults: { _controller: DofGraphicsBundle:CharacterLook:list, page: 1 }
    requirements:
        page: \d+

dof_graphics_skins_create:
    path:  /skins/create
    defaults: { _controller: DofGraphicsBundle:CharacterLook:create }

dof_graphics_skins_edit:
    path:  /skins/{slug}/edit
    defaults: { _controller: DofGraphicsBundle:CharacterLook:edit }
    requirements:
        slug: '[0-9a-z-]+'

dof_graphics_skins_embed:
    path:  /skins/{slug}/embed/{theme}.{format}
    defaults: { _controller: DofGraphicsBundle:CharacterLookEmbed:dispatch, format: html, theme: flipcard }
    requirements:
        slug: '[0-9a-z-]+'
        theme: '[a-z-]+'
        format: html|js

dof_graphics_skins_js:
    path:  /skins/data.js
    defaults: { _controller: DofGraphicsBundle:Js:characterLook }

dof_graphics_skins_colors_js:
    path:  /skins/colors.js
    defaults: { _controller: DofGraphicsBundle:Js:colorSlots }
