{% extends "::layout.html.twig" %}

{% block body %}
<form action="{{ path('dof_graphics_pipette_process') }}" method="POST">
<label>Adresse de la page perso : <input name="addresses[]" /></label>
<input type="submit" value="C'est parti !" />
</form>
{% for result in results %}
{% if result.look is not null %}
<div>{{ result.look.format(true) }}</div>
{% else %}
<div class="error">Une erreur s'est produite !</div>
{% endif %}
{% endfor %}
{% endblock %}
