{% if item.deprecated %}
    <span class="label label-danger hidden-xs">Obsolète</span>
{% endif %}
{% if item.preliminary %}
    <span class="label label-warning">Bêta</span>
{% endif %}
{% if item.release != 1 %}
    <span class="label label-info hidden-xs">{{ itemTemplate.release }}</span>
{% endif %}
