<div class="well well-sm well-fragment">
	<b>Effets :</b><br>
	{% include 'DofCharactersBundle::effects.html.twig' with {'effects': rank.normalEffects} %}
	<br>
	<b>Effets CC :</b><br>
	{% include 'DofCharactersBundle::effects.html.twig' with {'effects': rank.criticalEffects} %}
</div>
