@import "partials/reset.less.pr";

@small: 480px;
@large: 768px;

@maxlarge:@large;
@minlarge:769px;

@maxsmall:@small;
@minsmall:481px;

@headercolor: #34C924;

.clear {
	clear:both;
}

@import "partials/menu.less.pr";

@import "partials/content.less.pr";

@import "partials/footer.less.pr";


//BUNDLES
@import "../../../../UserBundle/Resources/public/css/Profile/profile.less";

@import "bootstrap.less";