@import "bootstrap.less";

.content-box{
	//Titre
	header{
		background: #34C924;
		border-radius: 0;
		border-radius: 2px;
		overflow: hidden;
		.breadcrumb{
			background: inherit;
		}
	}

	//Contenu
	.content{
		background: white;
	}
}