@import "bootstrap.less";

//CONTENU
.content-box{
	font-size: 15px;
	border-radius: 2px;
	overflow: hidden;

	//Titre
	header{
		background: #34C924;
		color: #FFF;

		text-transform: uppercase;
		padding: 8px 15px;
		.breadcrumb{
			background: inherit;
			padding: 0;
			margin: 0;
		}
	}

	//Contenu
	.content{
		padding: 8px 15px;
		background: white;
	}
}

//FOOTER
.bottom {
	margin-top: 40px;
    background-color: #474747;
}
.bottom .container {
    background-color: #373737;
    min-height: 150px;
}
.bottom .container h3 {
    color: #999;
}
.bottom .container p {
    color: #666;
}

//GENERIQUE
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
@media (max-width: @screen-xs-max) {
	.xs-nopadding{
		padding: 0 !important;
		margin: 0 !important;
	}
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.sm-nopadding{
		padding: 0 !important;
		margin: 0 !important;
	}
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.xs-nopadding{
		padding: 0 !important;
		margin: 0 !important;
	}
}
@media (min-width: @screen-lg-min) {
	.lg-nopadding{
		padding: 0 !important;
		margin: 0 !important;
	}
}

.marginbottom{
	margin-bottom: 20px !important;
}