@import "bootstrap.less";
@import "bootstrap-form.less";

@import 'select2.less';

//Menu
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

//CONTENU
.content-box{
	font-size: 15px;

	//Titre
	header{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
		background: #fa8a29;
		color: #FFF;

		text-transform: uppercase;
		padding: 8px 15px;

    &:first-child{
      border-radius: 2px 2px 0 0;
    }

		.breadcrumb{
			background: inherit;
			padding: 0;
			margin: 0;
			a{
				color: inherit;
			}
		}
	}

	//Contenu
	.content{
		padding: 8px 15px;
		background: white;
        &:not(.thumbnail){
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        }

        &:last-child {
          border-radius: 0 0 2px 2px;
        }
	}
}

.item {
    .nav > li > a {
        padding: 5px 10px;
    }

    .panel-body{
        padding-top: 5px;
    }
}

//FOOTER
.bottom {
	margin-top: 40px;
  background-color: #373737;
  .container {
    min-height: 150px;
    h3 {
      color: #999;
    }
    p {
      color: #666;
    }
  }
}

@import 'select2.less';

//GENERIQUE

.responsive(@selector, @rules) {
	.@{selector}{
		@rules();
	}
	@media (max-width: @screen-xs-max) {
		.xs-@{selector}{
			@rules();
		}
	}
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
		.sm-@{selector}{
			@rules();
		}
	}
	@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
		.md-@{selector}{
			@rules();
		}
	}
	@media (min-width: @screen-lg-min) {
		.lg-@{selector}{
			@rules();
		}
	}
}

.responsive(nopadding, {
	padding: 0 !important;
	margin: 0 !important;
	});

.responsive(noborder, {
	border-width: 0 !important;
	border-radius: 0 !important;
	&.list-group > .list-group-item {
		border-width: 0 !important;
		border-radius: 0 !important;
		+ .list-group-item {
			border-top-width: 1px !important;
		}
	}
	});

.responsive(autowidth, {
  width: auto;
	});

.marginbottom{
	margin-bottom: 20px !important;
}

.pointer{
	cursor: pointer;
}
