{% if item.personalized %}
    {% set embed_ = 'DofItemsBundle:Templates:personalized.html.twig' %}
{% else %}
    {% set embed_ = 'DofItemsBundle:Templates:layout.html.twig' %}
{% endif %}

{% extends embed_ %}

{% block bonus %}
    {% if not item.personalized %}
    <p>
        {% for bonus in item.primaryBonus %}
        <img src="{{ asset('bundles/dofitems/img/' ~ bonus ~ '.png') }}" alt="{{ bonus }}">
        {% endfor %}
    </p>
    {% endif %}
{% endblock %}

{% block footer %}
    {% if itemTemplate.set is not null %}
        <strong>
            <a href="{{ path('dof_set_show', {'slug': itemTemplate.set.slug}) }}">
                {{ itemTemplate.set.getName(locales()) }}
            </a>
        </strong>
        <br />
    {% endif %}
{% endblock %}
