{% extends 'DofGraphicsBundle:CharacterLook:layout.html.twig' %}

{% block breadcrumb %}
  {{ parent() }}
  <li>Création d'un Skin</li>
{% endblock %}

{% block body %}
  {{ form(form) }}
{% endblock %}
