{% extends 'DofGraphicsBundle:CharacterLook:layout.html.twig' %}

{% block style %}
  {% include 'DofMainBundle::color.css.html.twig' %}
{% endblock %}

{% block js %}
  {{ parent() }}
  {% include 'DofMainBundle::color.js.html.twig' %}
  <script type="text/javascript" src="{{ path('dof_graphics_skins_js') }}"></script>
{% endblock %}

{% block breadcrumb %}
  {{ parent() }}
  <li>Création d'un Skin</li>
{% endblock %}

{% block body %}
  {{ form(form, { 'style': 'horizontal' }) }}
{% endblock %}
