{% extends '::layout.html.twig' %}

{% block body %}
<form method="get">
    <input type="text" placeholder="Ex: Glourséleste, Tengu, ..." name="q" value="{{ app.request.query.get('q') | e('htmlattr') }}"/> 
    <input type="submit" class="btn btn-primary" value="Rechercher" />
</form>
<script>
(function() {
    var cx = '016199431344155278630:awl0ik7ywne';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
    '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
})();
</script>
<gcse:searchresults-only></gcse:searchresults-only>
{% endblock %}
