{% extends '::layout.html.twig' %}

{% trans_default_domain "DofTranslationBundle" %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('dof_translation_homepage', {'tLocale': locale}) }}">{{ 'translations' | trans() }} {{ locale }}</a></li>
{% endblock %}
