<!DOCTYPE html>
<html>
<head>
    <title>Carte interactive du Xélorium</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./xnmap.css" type="text/css" />
    <link rel="stylesheet" href="./style.css" type="text/css" />
    <script type="text/javascript" src="./traceur-runtime.js"></script>
    <script type="text/javascript" src="./jquery-2.1.1.min.js"></script><!-- for async-primitives::getImage -->
    <script type="text/javascript" src="./async-primitives.js"></script>
    <script type="text/javascript" src="./events.js"></script>
    <script type="text/javascript" src="./utility.js"></script>
    <script type="text/javascript" src="./rgindex.js"></script>
    <script type="text/javascript" src="./xnmap.js"></script>
    <script type="text/javascript" src="./xnmap-hotspots.js"></script>
    <script type="text/javascript" src="./app.js"></script>
</head>
<body>
    <div id="map"></div>
    <p class="top-bar">Faites glisser en maintenant le bouton de la souris enfoncé pour défiler. Utilisez la molette pour zoomer.<a href="https://twitter.com/share?url=http://exter-n.fr/xelorium/&text=Carte%20interactive%20du%20X%C3%A9lorium&via=Exter_N" target="_blank">Tweeter</a></p>
    <p class="bottom-bar">Cette page est non-officielle et n'est affiliée d'aucune façon avec Ankama.<br />Les images extraites du jeu <a href="http://www.dofus.com/" target="_blank">Dofus</a> sont la propriété d'Ankama Games.</p>
</body>
</html>
