{% if criterion is not empty and criterion.visible %}
    {% set class = classOf(criterion) %}
    <li>
        {% if class == 'SimpleCriterion' %}
            {{ criterion.htmlDescription | raw }}
        {% else %}
            {% if classOf(criterion) == 'AndCriterion' %}
                Toutes ces conditions :
            {% else %}
                Au moins une de ces conditions
            {% endif %}
            <ul>
                {% for c in criterion.criteria %}
                    {% include 'DofItemsBundle::criteria.html.twig' with {'criterion': c} only %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endif %}
