{% if criterion is not empty %}
    {% set class = classOf(criterion) %}
    <li>
        {% if class == 'SimpleCriterion' %}
            {{ criterion.htmlDescription | raw }}
        {% else %}
            <ul>
                <li>
                    {% if classOf(criterion) == 'AndCriterion' %}
                        Toutes ces conditions :
                    {% else %}
                        Au moins une de ces conditions
                    {% endif %}
                </li>
                {% for c in criterion.criteria %}
                    {% include 'DofItemsBundle::criteria.html.twig' with {'criterion': c} only %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endif %}
