<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Test</title>

        {% stylesheets filter='lessphp' 
        filter='cssrewrite'

        '@DofUserBundle/Resources/public/css/login/*'
        'less/sprite.less'

        output='css/all.css'

        %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    </head>
    <body>
        <div>
            <a href="/"><div class="submit">{{ 'backhome'|trans({}, 'login') }}</div></a>
        </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="sprite logo"></div>
        <div>
            <div id="bloclogin">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </body>
</html>
