<article class="wblock3">
	<div class="breadcrumb">
		<h1>
			<a href="">
				{{ article.titre }}
			</a>
		</h1>
		par toto,
		le {{ article.createdAt|date('d/m/Y') }}.
	</div>
	<div class="contenu padding">
		<div class="imgarticle">
		</div>
		{{ article.message| truncatehtml('300')|raw}}
	</div>
</article>