<div class="col-md-6">
<div class="thumbnail content">
		<div class="caption">
			<h3>{{ article.getName(locales()) }}</h3>
			<p>{{ article.getDescription(locales()) | truncatehtml('200')|raw}}</p>
			<p><a href="{{ path('dof_articles_view', { 'slug' : article.slug, 'type' : 'news' }) }}" class="btn btn-primary" role="button">See</a></p>
		</div>
	</div>
</div>
