<article class="wblock3">
	<div class="breadcrumb">
		<h1>
			<a href="">
				{{ article.titre }}
			</a>
		</h1>
		par toto,
		le {{ article.date|date('d/m/Y') }}.
	</div>
	<div class="contenu padding">
		{{ article.message|raw| truncatehtml('100')}}
	</div>
</article>