{% extends 'DofArticlesBundle::layout.html.twig' %}

{% block breadcrumb %}
  {{ parent() }}
  <li>Editer {{ article.getName(locales())}}</li>
{% endblock %}

{% block body %}
  {{ form(form, { 'style': 'horizontal' }) }}
{% endblock %}
