{% extends 'DofArticlesBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>Editer {{ article.getName(locales())}}</li>
{% endblock %}

{% block body %}
    {% include 'DofMainBundle::form.html.twig' with {'form': form} %}
{% endblock %}
