{% extends 'DofArticlesBundle::layout.html.twig' %}

{% block breadcrumb %}
  {{ parent() }}
  <li>{{ article.getName(locales()) }}</li>
{% endblock %}

{% block body %}
<div class="well well-lg">
  {{ article.getDescription(locales()) | raw }}
</div>
{% endblock %}
