{% extends 'DofArticlesBundle::layout.html.twig' %}

{% block breadcrumb %}
  <li>{{ type }}</li>
{% endblock %}

{% block body %}

    <div class="row">
		{% for article in articles %}
			{% include 'DofArticlesBundle:Article:box.html.twig' %}
		{% else %}
			<li>Pas (encore !) d'articles</li>
		{% endfor %}
	</div>
{% endblock %}