{% extends 'DofArticlesBundle::layout.html.twig' %}

{% block breadcrumb %}
  {{ parent() }}
  <li>{{ article.titre }}</li>
{% endblock %}

{% block body %}
  {{ article.message | raw }}
{% endblock %}
