article.article{
	background-color: #E8E7E3;
	width: 32%;
	min-height: 100px; 
	margin-bottom: 20px;
	margin-left: 2%;
	float: left;
	height: 150px;
	border: 2px solid #858684;
	border-radius: 5px;
	&:nth-of-type(1), &:nth-of-type(2) {
		background-color: #E8E7E3;
		width: 100%;
		border: 2px solid #858684;
		border-radius: 5px;
		margin-left: 0px;
		float: left;
	}
	&:nth-child(3n+1){
		float: left;
		margin-left: 0px;
	}
	header{		
		border-bottom: 2px solid #858684;
		padding-top: 5px;
		padding-bottom: 5px;
		a{
			text-decoration: none;
			padding-top: 5px;
		}
	}
	.content{
		min-height: 90px;
		padding-left: 5px;
	}
}