{% extends "::layout.html.twig" %}

{% block modelbody %}
{% endblock %}

{% block differentdisplay %}

    <div class="row">
		{% for article in articles %}
			{% set type = 'news' %}
			{% include 'DofCMSBundle:Article:box.html.twig' %}
		{% else %}
			<li>Pas (encore !) d'articles</li>
		{% endfor %}
	</div>
{% endblock %}