<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Dofawa{% endblock %}</title>

  <link rel="stylesheet" href="{{ asset('less/main.min.css') }}">
  <link rel="stylesheet" href="{{ asset('bundles/dofarticles/css/moduleright.min.css')}}">

  {% block style %}
  {% endblock %}

  <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon" />
  <link rel="icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="DESCRIPTION" content="Dofawa est un fan site dédié à l'univers de dofus avec de nombreux tutoriels, conseils et astuces pour Dofus et ses donjons " />

  <meta name="KEYWORDS" content="dofus ,astuces, quêtes, donjon, dofus build , tutoriels dofus , calculateur dofus, secrets, solutions, dofus tutoriels , donjons dofus , succès dofus, dofus fan site , astuces kamas , dofus frigost , dofus 2.0, élevage dofus, builds dofus, avatars dofus" />
  
  <script defer type="text/javascript" src="http://c.ad6media.fr/l.js"></script> 

  <script type="text/javascript" defer async>

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36904065-1']);
    _gaq.push(['_setDomainName', 'dofawa.fr']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body onload="decompte();">
  {% include('::model/menu.html.twig')%}

  <div id="content">
    <section id="left">
      <section class="full">
        <div class="breadcrumb">
          {% block breadcumb %}<a href="/">Accueil</a>{% endblock %}
        </div>
        {% block modelbody %}
        {% endblock %}
      </section>
      {% block differentdisplay %}
      {% endblock %}
    </section>
    {% include '::model/right.html.twig' %}

  </div>
  <div class="clear"></div>

  <footer id="bottom">
    <ul>
      <li>Titre Catég</li>
      <li>Link 1</li>
      <li>Link 2</li>
      <li>Link 3</li>
    </ul>
    <ul>
      <li>Titre Catég</li>
      <li>Link 1</li>
      <li>Link 2</li>
      <li>Link 3</li>
    </ul>
    <ul>
      <li>Titre Catég</li>
      <li>Link 1</li>
      <li>Link 2</li>
      <li>Link 3</li>
    </ul>
  </footer>
  <div id="recup_publicity">
    <script defer async type='text/javascript'>
      document.MAX_ct0 ='';
      var m3_u = (location.protocol=='https:'?'https://cas.criteo.com/delivery/ajs.php?':'http://cas.criteo.com/delivery/ajs.php?');
      var m3_r = Math.floor(Math.random()*99999999999);
      document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
      document.write ("zoneid=120565");document.write("&amp;nodis=1");
      document.write ('&amp;cb=' + m3_r);
      if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
      document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
      document.write ("&amp;loc=" + escape(window.location));
      if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
      if (document.context) document.write ("&context=" + escape(document.context));
      if ((typeof(document.MAX_ct0) != 'undefined') && (document.MAX_ct0.substring(0,4) == 'http')) {
        document.write ("&amp;ct0=" + escape(document.MAX_ct0));
      }
      if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
      document.write ("'></scr"+"ipt>");

      var element = document.querySelector('#recup_publicity');
      var element2 = document.querySelector('#selectorpublicity');

      element2.appendChild(element);


    </script>
  </div>
</body>
</html>