{% extends 'DofCMSBundle::layout.html.twig' %}

{% block breadcrumb %}
  <li>{{ type }}</li>
  <li>Ajouter</li>
{% endblock %}

{% block body %}
  {{ form(form, { 'style': 'horizontal' }) }}
{% endblock %}