{% extends '::layout.html.twig' %}

{% block breadcrumb %}
	<li>{{ 'inventory'|trans({}, 'generalTrans') }}s</li>
{% endblock %}

{% block body %}
	<h3>Inventaire</h3>
    {{ form(form, { 'style': 'horizontal', 'action': path(app.request.get('_route'), app.request.attributes.get('_route_params') | merge({'page': 1})) }) }}
    Il y a {{ count }} résultats.

    {% include 'DofMainBundle:Default:pagination.html.twig' with {'pagination': pagination} %}

    {% for item in items %}
        {% include 'DofItemsBundle::item.html.twig' with {'item': item, 'slugs': slugs | default(null)} %}
    {% else %}
    	Pas encore d'items dans l'inventaire!
    {% endfor %}

    {% include 'DofMainBundle:Default:pagination.html.twig' with {'pagination': pagination} %}
{% endblock %}