{% extends '::layout.html.twig' %}

{% block breadcrumb %}
  <li>Guildes</li>
{% endblock %}

{% block body %}

<h1><a href="{{path(dof_guild_add)}}">Ajouter une guilde !</a></h1> 
  {% for guild in guilds %}

	  	<div class="panel panel-default">
		 	<div class="panel-heading">guild.getName()</div>
		  	<div class="panel-body">
		  	</div>
			<table>
				<tr><td>Nom de la guilde : </td><td>guild.getName()</td></tr>
				<tr><td>Serveur : </td><td>guild.getServeur()</td></tr>
				<tr><td>Niveau de la guilde : </td><td>guild.getLvlguild()</td></tr>
				<tr><td>Recrutement : </td><td>{% if guild.getRecuitement %} Oui {% else %} Non {% endif %}</td></tr>
				<tr><td>Description : </td><td>guild.getDescription()</td></tr>
			</table>  
		</div>

  {% else %}
      <h2>Pas (encore !) de guilde</h2>
  {% endfor %}

{% include 'DofMainBundle:Default:pagination.html.twig' with {'pagination': pagination} %}

{% endblock %}