<table class="table table-condensed">
    <thead>
        <tr>
            <th colspan="2">Dégats {% if critical | default(false) %}CC{% endif %}</th>
        </tr>
    </thead>
    <tbody>
        {% set min = 0 %} {% set max = 0 %}
        {% for effect in effects if effect.hidden is not defined or not effect.hidden or is_granted('ROLE_SPELL_XRAY') %}
        <tr>
            {% set min = min + effect.param1 %}
            {% set max = max + effect.param2 %}
            <td>{{ loop.index }}</td>
            <td>{{ effect.htmlDescription | raw }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total dégâts</td>
            <td>De {{ min }} à {{ max }}</td>
        </tr>
    </tbody>
</table>
