{% extends 'DofTranslationBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ 'create' | trans({}, 'DofTranslateBundle')}}</li>
{% endblock %}

{% block body %}
{% autoescape  %}
    {{ form(form, { 'style': 'horizontal' }) }}
{% endautoescape %}
{% endblock %}
