{% extends 'DofTranslationBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ 'create' | trans({}, 'DofTranslateBundle')}}</li>
{% endblock %}

{% block body %}
{% autoescape  %}
    {% include 'DofMainBundle::form.html.twig' with {'form': form} %}
{% endautoescape %}
{% endblock %}
