<header>
  {{trad | trans({}) }}
</header>
<div class="content">
  <div class="list-group">
    {% for article in articles %}
    <a class="list-group-item" href="#" title="{{article.titre}}">
      {{article.titre | striptags | slice(0, 40) }}
    </a>
    {% endfor %}
  </div>

</div>