La quête de l'almanax du jour est "{{ quest.getName(locales()) }}".<br />
<iframe src="http://almanax.zone-bouffe.com/dofus/widget.php" frameborder="0" scrolling="no" width="451" height="236"></iframe><br />
Vous pouvez en savoir plus sur <a href="http://www.krosmoz.com/fr/almanax">le site officiel</a>.
