{% extends 'DofUserBundle:Account:layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>Sécurité</li>
{% endblock %}

{% block body %}
    Mot de passe : <a href="{{ path('fos_user_change_password')}}">Modifier mon mot de passe</a>
    <br />
    Connexion en 2 étapes : {% if app.user.totpSecretKey is not empty %}Activée{% else %}Désactivée{% endif %}
        <a href="#" id="doubleAuth">Paramètres</a>

    <div class="modal fade" id="doubleAuth" tabindex="-1" role="dialog" aria-labelledby="doubleAuthLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="doubleAuthLabel">Connexion en 2 étapes</h4>
                </div>
                <div class="modal-body">
                    <div id="qr-code"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function(){
            $('#doubleAuth').on('click', function(){
                $('#doubleAuth modal-body #qr-code').qrcode("test");
                $('#doubleAuth').modal('open');
                return false
            });
        });
    </script>
    <script type="text/javascript" src="{{ asset('bundles/dofmain/js/jquery-qrcode.min.js') }}"></script>
{% endblock %}
