services:
    dof_characters.effect_param_loader:
        class: Dof\Bundle\CharacterBundle\EffectParamLoader
        arguments: [ "@service_container" ]
        tags:
            - { name: doctrine.event_listener, event: postLoad }

    dof_characters.effect_t_loader:
        class: Dof\Bundle\CharacterBundle\EffectTLoader
        arguments: [ "@service_container" ]
        tags:
            - { name: doctrine.event_listener, event: postLoad }

    dof_characters.twig.effect_extension:
        class: Dof\Bundle\CharacterBundle\Twig\EffectExtension
        tags:
            - { name: twig.extension }
