{% for notification in notifications %}
    <li {% if notification.isRead == false %}class="active"{% endif %}>

        <a href="{{ notification.path }}">
            {{ notification.message | raw }}
            <br>
            <small>{{ notification.createdAt }}</small>
        </a>
    </li>
    {% if loop.last == false %}
        <li class="divider"></li>
    {% endif %}
{% endfor %}
