{% for notification in notifications if notification.valid %}
    <li {% if notification.read == false %}class="active"{% endif %}>
        {% include 'DofMainBundle::simple-notification.html.twig' with {'notification': notification} only %}
    </li>
    {% if loop.last == false %}
        <li class="divider"></li>
    {% endif %}
{% endfor %}
