<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications <span class="badge">{{ unread }}</span> <b class="caret"></b></a>
    <ul class="dropdown-menu">
        {% for notification in notifications %}
        <li>
            <a href="{{ path(notification.path, notification.params) }}">
                {{ notification.translateString | trans(notification.adaptedTranslateParams, 'notifications') | raw }}
                <br>
                <small>{{ notification.createdAt | localizeddate('long', 'short') }}</small>
            </a>
        </li>
        <li class="divider"></li>
        {% endfor %}
    </ul>
</li>
