{% extends "::layout.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ 'notifications'|trans({}, 'generalTrans') }}</li>
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'notifications'|trans({}, 'generalTrans') }}</div>
        <div class="panel-body">
           <table class="table">
                <tbody>
                    {% for notification in notifications if notication.valid %}
                        <tr {% if not notification.read %}class="active"{% endif %}>
                            {% include 'DofMainBundle::simple-notification.html.twig' with {'notification': notification} only %}
                        </tr>
                        <hr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
