{% extends 'DofArticlesBundle::layout.html.twig' %}

{% block breadcrumb %}
  <li>Forum</li>
{% endblock %}

{% block body %}
{% autoescape %}
	{% for category in categories %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ category.getName(locales()) }}</h3>
			</div>
			<table class="table">
				<tr><th>Forum</th><th>Description</th><th>Nb. topics</th></tr>
			    {% for forum in category.forums %}
			    	<tr><a href="{{ path('dof_forum_show_forum', { 'slug' : forum.slug }) }}"><td>{{ forum.getName(locales()) }} </td><td><font size="2">{{ forum.getDescription(locales()) }}</font></td></a></tr>
			    {% endfor %}
			</table>
		</div>
	{% endfor %}
{% endautoescape %}
{% endblock %}
