{% extends 'DofArticlesBundle::layout.html.twig' %}

{% block breadcrumb %}
  <li>{{ type }}</li>
  <li>{{action}}</li>
{% endblock %}

{% block body %}
  <div class="panel panel-success">
  <div class="panel-body">
    {% if action != "Validation" & action != "Suppression" %}
    	{{ type }} ajouté, un modérateur va le vérifier sous peu!
    {% else %}
    	{{ action }} avec succès!
    {% endif %}
  </div>
</div>
{% endblock %}